djangorestframework
drf-yasg
gunicorn
psycopg2-binary
dotenv
dj-database-url
django-cors-headers
gunicorn
whitenoise
django-filter
django_tenants
django-cacheops==6.2
django-crum==0.7.9
python-barcode==0.14.0
Unidecode==1.3.8
python-dateutil==2.9.0.post0
weasyprint==58.0
dependency_injector
django-environ==0.10.0
pika==1.3.2